
#jobb{transform: rotate(0.5turn)}

#Nezegeto {
    
    width: 1000px;
    height: 1000px; 
    background-color:wheat;
    margin-left: auto;
    margin-right:auto ;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;

   
}



.gray-container{
    position: absolute;
    color: aqua;
    width: 800px;;
    background-color: red;
    margin-top: 240px;
    opacity: 75%;
;}

#bal{background-color: salmon;}

#jobb{background-color: salmon;}

#container {
    display: flex;
    margin-left: auto;
    margin-right:auto ;
    align-items: center;
    justify-content: center;
    
  }
  
  .box {
    width: 100px;
    height: 100px;
    margin: 5px;
    background: lime;

  }

  .clicked { display: flex;
    margin-left: auto;
    margin-right:auto ;
    align-items: center;
    justify-content: center;}
